@import url('https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.Berekenaar-Outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Berekenaar-Form-Bottom {
  width: 100%;
  height: 50%;
}

.Berekenaar-Form-Top-Text {
  font-size: 30px;
  color: #19197C;
  font-weight: 600;
  line-height: 40px;
}

.Berekenaar-input-form {
  display: grid;
  gap: 10px;
  grid-template-columns: max-content 1fr;
}

.Berekenaar-input-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
  align-items: center;
}

input,
select {
  padding: 3%;
}

.Berekenen-Button {
  background-color: #19197C;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}